{% extends "base.html.twig" %}
{% block title %}
    Clients
{% endblock %}
{% block body %}
    {{ include('static.html.twig') }}
    <main class="listing_body">
    <section class="dashboard">
        <div class="dashboard_user">
            <h1>Mes clients</h1>
            <button id="js_add_customer">Ajouter un client</button>
        </div>
        {% if customers %}
            <div class="dashboard_title">
                <h2 class="dashboard_title--client">Client</h2>
                <h2 class="dashboard_title--email">Email</h2>
                <h2 class="dashboard_title--adresse">Adresse</h2>
                <h2 class="dashboard_title--telephone">Téléphone</h2>
                <h2 class="dashboard_title--contacter">Contacter</h2>
                <h2 class="dashboard_title--action">Actions</h2>
            </div>
            {% for customer in customers %}
                <div class="dashboard_listing">
                <div class="dashboard_listing--users">
                <img src="assets/kaiba.jpg" alt="">
                <h4>{{ customer.firstname }} {{ customer.lastname }}</h4>
                </div>
                <div class="dashboard_listing--email">
                <p>{{ customer.email }}</p>
                </div>
                <div class="dashboard_listing--adresse">
                <p>{{ customer.address }}</p>
                </div>
                <div class="dashboard_listing--telephone">
                <p>{{ customer.phone_number }}</p>
                </div>
                <div class="dashboard_listing--contacter">
                <button class="calendar">
                <img src="assets/calendar.svg" alt="">
                </button>
                <button class="contacter">contacter</button>
                </div>
                <div class="dashboard_listing--actions">
                <input type="checkbox" class="dashboard_listing--checkbox" name="" id="">
                <img src="assets/Edit-Icon.svg" alt="">
                </div>
                </div>
            {% endfor %}
        {% else %}
            <div>No Clients yet</div>
        {% endif %}
    </section>
		<div class="popup-content" id="js_popup">
		<div class="popup-formulaire">
			<div class="formulaire">
				<form class="" action="clients/create" method="POST">
					<a class="cross" id="js_popup_close">X</a>
					<img class="icon-user" src="assets/user.svg" alt="">
						<h2>Créer un nouvel utilisateur</h2>
						<input type="text" class="champ" placeholder="Nom" name="lastname">
						<input type="text" class="champ" placeholder="Prénom" name="firstname">
						<input type="text" class="champ" placeholder="Adresse mail" name="email">
						<input type="text" class="champ" placeholder="Adresse postale" name="address">
						<input type="text" class="champ" placeholder="Téléphone" name="phone_number">
						<input type="text" class="champ" placeholder="Nom du projet" name="project">
						<input class="creer" type="submit" value="Créer">
				</form>
			</div>
		</div>
		</div>
</main>
{% endblock %}
{% block scripts %}
    <script>
        js_add_customer.addEventListener("click", openPopup);
        js_popup_close.addEventListener("click", closePopup);

        function openPopup() {
            js_popup.classList.add("active");
        }

        function closePopup() {
            js_popup.classList.remove("active");
        }
    </script>
{% endblock %}
